.box {
	margin: 1em
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 2px 2px 2px #000;

}
img {
    width: auto;
    height: auto;
    object-fit: contain;
	border-radius: 15px 15px 0 0;
	vertical-align: middle;

}
.project-list {
    list-style-type: none;
}
