.box{
    width: auto;
    height: auto;
    background: orange;
	flex: 1 ;
	box-shadow: 24px 24px 80px rgba(0,0,0,0.1);

/* margin: 1em; */
transition: 1s;
    display: inline-block;
    position: 'relative';
    object-fit: cover;
    margin: 1em;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
    /* box-shadow: 2px 2px 2px #000; */

}
img {
    width: auto;
    height: auto;
    object-fit: contain;
	border-radius: 15px 15px 0 0;
	vertical-align: middle;

}
.project-list {
    list-style-type: none;
}